In [156]:
import pandas as pd
import time
import string
from functions.capitalization import titlecase
so_file='test_input.txt'
widths = [4,2,15,10,30,100,4,30,3,7,1,30,30,2,20,2,2,10,9,50,3,30,50]
update=pd.read_fwf(so_file,
                   header=None, 
                   widths=widths,
                   names=['dir_code','so_type','sonumber','mem_wstd','first_name','last_name','sam_city'
                          ,'sam_stname','sam_stsubt','sam_stnmfr','sam_subd','sam_estate','sam_bldname','sam_aptcod','sam_aprmnt'
                          ,'list_code','acc_type','old_wstd','so_date','joint_user','regulatory_id','account_no','distribution_code'],
                   converters = {'mem_wstd': str, 'sam_stnmfr':str,'account_no':str},
                   index_col=None
                  )
#update.()
update = update.fillna('')

update.sort_values(by='last_name',inplace=True)
update.reset_index(drop=True,inplace=True)
update['acc_type']=update['acc_type'].astype('category')
update['src']=so_file.split('/')[-1]
update['so_rangedate']=time.strftime("%Y/%m/%d")
rr=update

In [157]:
rr_crm=pd.DataFrame()

In [158]:
rr_crm['Areacode']=rr.mem_wstd.str.slice(0,1)
rr_crm['Phone']=rr.mem_wstd.str.slice(-7)
rr_crm['name1']=rr.last_name
rr_crm['name2']=rr.first_name
rr_crm['SAM_BLDNAME']=rr.sam_bldname
rr_crm['SAM_STNMFR']=rr.sam_stnmfr
rr_crm['SAM_STNAME']=rr.sam_stname
rr_crm['SAM_STSUBT']=rr.sam_stsubt
rr_crm['sam_estate']=rr.sam_estate
rr_crm['City']=rr.distribution_code.str.split('  ',1).str.get(1).apply(lambda x : x.strip())
rr_crm['Province']=rr.distribution_code.str.split('  ',1).str.get(0).apply(lambda x : x.strip())
rr_crm['class_code']=""
rr_crm['class_desc']=""
rr_crm.name1 = rr_crm.name1.apply(lambda x: titlecase(x))
rr_crm.name2 = rr_crm.name2.apply(lambda x: titlecase(x))
rr_crm.SAM_BLDNAME = rr_crm.SAM_BLDNAME.apply(lambda x: titlecase(x))
rr_crm.SAM_STNAME = rr_crm.SAM_STNAME.apply(lambda x: titlecase(x))
rr_crm.SAM_STSUBT = rr_crm.SAM_STSUBT.apply(lambda x: titlecase(x))
rr_crm.sam_estate = rr_crm.sam_estate.apply(lambda x: titlecase(x))
rr_crm.City = rr_crm.City.apply(lambda x: titlecase(x))
rr_crm.Province = rr_crm.Province.apply(lambda x: titlecase(x))

In [159]:
import numpy as np
def or_call(crm):
    index=crm.duplicated(['name1','name2','City','Province','SAM_BLDNAME','SAM_STNAME'])
    skip=False
    for i in xrange(len(index)):
        if index.ix[i] == True:
            line=crm.ix[i]
            prev_line=crm.ix[i-1]
            try:
                next_line=crm.ix[i+1]
            except:
                pass
            line['SAM_BLDNAME']=''
            line['SAM_STNMFR']=''
            line['SAM_STNAME']=''
            line['SAM_STSUBT']=''
            line['sam_estate']=''
            line['Province']=''
            line['class_code']=''
            line['class_desc']=''
            #line['name1']=''
            #line['name2']=''
            if skip == False:
                prev_line['Phone']=str(prev_line.Phone)+'/'+str(line.Phone)
                line['Phone']=''

                if index.ix[i-1] == False and index.ix[i+1]==True:
                    next_line['City']='Or Call:'
                try:
                    if index.ix[i+1] == True:
                        skip =True
                    
                except:
                    pass
            else:
                skip = False
    crm['Phone'].replace('', np.nan, inplace=True)
    return  crm[crm.Phone.notnull()]

In [160]:
import csv 
with open('areacodes') as csvfile:
    reader= csv.reader(csvfile)
    codes = dict((rows[0],rows[1]) for rows in reader)

IOError: [Errno 2] No such file or directory: 'areacodes'

In [161]:
codes.get('bulacan')

'44'

In [162]:
print rr_crm.ix[5]
print rr_crm.ix[6]

Areacode                      0
Phone                   2360540
name1                   Lorenzo
name2              Fe  Fenandez
SAM_BLDNAME
SAM_STNMFR                  523
SAM_STNAME     Pres S Osmena Sr
SAM_STSUBT                   St
sam_estate
City                     Obando
Province                Bulacan
class_code
class_desc
Name: 5, dtype: object
Areacode                      0
Phone                   2360228
name1                    Martin
name2          Isagani  de Leon
SAM_BLDNAME
SAM_STNMFR                   46
SAM_STNAME             Sto Nino
SAM_STSUBT                   St
sam_estate
City                     Obando
Province                Bulacan
class_code
class_desc
Name: 6, dtype: object

In [163]:
rr_crm.duplicated('name1')

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8      True
9      True
10    False
11    False
12    False
dtype: bool

In [164]:
def or_call(crm):
    index=crm.duplicated(['name1','name2','City','Province','SAM_BLDNAME','SAM_STNAME'])
    skip=False
    for i in xrange(len(index)):
        if index.iloc[i] == True:
            line=crm.ix[i]
            prev_line=crm.ix[i-1]
            try:
                next_line=crm.ix[i+1]
            except:
                pass
            line['SAM_BLDNAME']=''
            line['SAM_STNMFR']=''
            line['SAM_STNAME']=''
            line['SAM_STSUBT']=''
            line['sam_estate']=''
            line['Province']=''
            line['class_code']=''
            line['class_desc']=''
            #line['name1']=''
            #line['name2']=''
            if skip == False:
                prev_line['Phone']=str(prev_line.Phone)+'/'+str(line.Phone)
                line['Phone']=np.nan

                if index.ix[i-1] == False and index.ix[i+1]==True:
                    next_line['City']='Or Call:'
                try:
                    if index.ix[i+1] == True:
                        skip =True
                except:
                    pass
            else:
                skip = False
    #crm['Phone'].replace('', np.nan, inplace=True)
    return  crm[crm.Phone.notnull()]
or_call(rr_crm)

,Areacode,Phone,name1,name2,SAM_BLDNAME,SAM_STNMFR,SAM_STNAME,SAM_STSUBT,sam_estate,City,Province,class_code,class_desc
0,0,2360409,Cristobal,Arleen Garcia,,45,Tawiran,Rd,,Obando,Bulacan,,
1,0,2360597,Jocelyn Forge Inc,,,56,Bagbaguin,Rd,,Meycauayan City,Bulacan,,
2,0,2919615/2919890,L.G Ramos Trading and Marineservices,,,25,F Navarette,St,,Obando,Bulacan,,
4,0,2360493,Laurean,Arriane Argamosa,,,Topaz,St,Citation Homes,Meycauayan City,Bulacan,,
5,0,2360540,Lorenzo,Fe Fenandez,,523,Pres S Osmena Sr,St,,Obando,Bulacan,,
6,0,2360228,Martin,Isagani de Leon,,46,Sto Nino,St,,Obando,Bulacan,,
7,0,2922999/2922911,Obando Police Department,,Obando Police Department,,J P Rizal,St,,Obando,Bulacan,,
9,0,2922043,Obando Police Department,,,,,,,Or Call:,,,
10,0,2922058,Provincial Lying-In Clinic,,,,Provincial,Rd,,Obando,Bulacan,,
11,0,2824099,Rite Deal Enterprises,,,34,F Navarette,St,,Obando,Bulacan,,
12,0,2922033,Rural Bank of San Pascual Incorporated,,,,Paliwas,Rd,,Obando,Bulacan,,

In [119]:
str(open('small_words').read())

IOError: [Errno 2] No such file or directory: 'small_words'

In [120]:
open('small_words').read().rstrip('\n')

IOError: [Errno 2] No such file or directory: 'small_words'

In [121]:
import functions.interface_functions

In [122]:
import glob
import os
newest = min(glob.iglob('database_backups/*.hdf5'), key=os.path.getctime)

In [62]:
newest

'database_backups/database-2016-07-21-02-02-20.hdf5'

In [63]:
rr.distribution_code.str.split('    ',1).str.get(1)

0                                 OBANDO
1                        MEYCAUAYAN CITY
2                                 OBANDO
3                                 OBANDO
4                        MEYCAUAYAN CITY
5                                 OBANDO
6                                 OBANDO
7                                 OBANDO
8                                 OBANDO
9                                 OBANDO
10                                OBANDO
11                                OBANDO
12                                OBANDO
13                                OBANDO
14                                OBANDO
Name: distribution_code, dtype: object

In [66]:
index=rr_crm.duplicated(['name1','name2','City','Province','SAM_BLDNAME','SAM_STNAME'])

In [69]:
range(len(index))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [74]:
index[1]

False

In [72]:
index=rr_crm.duplicated(['name1','name2','City','Province','SAM_BLDNAME','SAM_STNAME'])

In [80]:
'dfdsf sdfsdfs        sdfsd'.split('s')

['dfd', 'f ', 'df', 'df', '        ', 'df', 'd']

In [155]:
rr

,dir_code,so_type,sonumber,mem_wstd,first_name,last_name,sam_city,sam_stname,sam_stsubt,sam_stnmfr,...,list_code,acc_type,old_wstd,so_date,joint_user,regulatory_id,account_no,distribution_code,src,so_rangedate
0,BL,,,0022360409,ARLEEN GARCIA,CRISTOBAL,OBA,TAWIRAN,RD,45,...,PB,RR,,,,PLD,0241336611,BULACAN OBANDO,test_input.txt,2016/07/21
1,BL,,,0022360597,,JOCELYN FORGE INC,MEY0,BAGBAGUIN,RD,56,...,PB,BR,,,,PLD,0161375209,BULACAN MEYCAUAYAN CITY,test_input.txt,2016/07/21
2,BL,,,0022919615,,L.G RAMOS TRADING AND MARINESERVICES,OBA,F NAVARETTE,ST,25,...,PB,BR,,,,PLD,0212837784,BULACAN OBANDO,test_input.txt,2016/07/21
3,BL,,,0022919890,,L.G RAMOS TRADING AND MARINESERVICES,OBA,F NAVARETTE,ST,25,...,PB,BR,,,,PLD,0212837784,BULACAN OBANDO,test_input.txt,2016/07/21
4,BL,,,0022360493,ARRIANE ARGAMOSA,LAUREAN,MEY0,TOPAZ,ST,,...,PB,RR,,,,PLD,0217398665,BULACAN MEYCAUAYAN CITY,test_input.txt,2016/07/21
5,BL,,,0022360540,FE FENANDEZ,LORENZO,OBA,PRES S OSMENA SR,ST,523,...,PB,RR,,,,PLD,0244072801,BULACAN OBANDO,test_input.txt,2016/07/21
6,BL,,,0022360228,ISAGANI DE LEON,MARTIN,OBA,STO NINO,ST,46,...,PB,RR,,,,PLD,0217426138,BULACAN OBANDO,test_input.txt,2016/07/21
7,BL,,,0022922043,,OBANDO POLICE DEPARTMENT,OBA,J P RIZAL,ST,,...,PB,GO,,,,PLD,0009169555,BULACAN OBANDO,test_input.txt,2016/07/21
8,BL,,,0022922058,,PROVINCIAL LYING-IN CLINIC,OBA,PROVINCIAL,RD,,...,PB,GO,,,,PLD,0001347225,BULACAN OBANDO,test_input.txt,2016/07/21
9,BL,,,0022824099,,RITE DEAL ENTERPRISES,OBA,F NAVARETTE,ST,34,...,PB,BR,,,,PLD,0003633497,BULACAN OBANDO,test_input.txt,2016/07/21
10,BL,,,0022922033,,RURAL BANK OF SAN PASCUAL INCORPORATED,OBA,PALIWAS,RD,,...,PB,BR,,,,PLD,0009169490,BULACAN OBANDO,test_input.txt,2016/07/21

In [166]:
x=8
x=x or 5
x

8

In [167]:
os.getlogin()

'ncolina'

In [19]:
import csv
reader = csv.reader(open('config/input_format'))#,delimiter=',',quotechar='')
titles=reader.next()
widths=reader.next()

In [21]:
titles[0]

"'dir_code'"

In [31]:
reader= csv.reader(open('config/input_format'),quoting=csv.QUOTE_NONNUMERIC)
lines=[]
for row in reader:
    print list(row)
names=lines[0]
widths=lines[1]

ValueError: could not convert string to float: 'dir_code'

In [47]:
import ConfigParser
Config = ConfigParser.ConfigParser()
Config.read("config/input_format")
def ConfigSectionMap(section):
    dict1 = {}
    options = Config.options(section)
    for option in options:
        try:
            dict1[option] = Config.get(section, option)
            if dict1[option] == -1:
                DebugPrint("skip: %s" % option)
        except:
            print("exception on %s!" % option)
            dict1[option] = None
    return dict1

In [50]:
ConfigSectionMap('input_format').keys()

['last_name',
 'sam_aprmnt',
 'sam_stname',
 'sam_aptcod',
 'sonumber',
 'regulatory_id',
 'first_name',
 'distribution_code',
 'sam_stsubt',
 'old_wstd',
 'sam_subd',
 'mem_wstd',
 'account_no',
 'so_type',
 'sam_stnmfr',
 'list_code',
 'joint_user',
 'so_date',
 'acc_type',
 'sam_bldname',
 'dir_code',
 'sam_estate',
 'sam_city']

In [49]:
[int(x) for x in ConfigSectionMap('input_format').values()]

[100,
 20,
 30,
 2,
 15,
 3,
 30,
 50,
 3,
 10,
 1,
 10,
 30,
 2,
 7,
 2,
 50,
 9,
 2,
 30,
 4,
 30,
 4]